//sync/step2
extends /layout

block css
  link(rel="stylesheet" type="text/css" href="/stylesheets/sync.css")

block content
  .jumbotron.white
    ol.breadcrumb
      li
        a(href="/sync") Step 1
      li.active= keyFrom

    h2 Sync to #{host} as '#{displayName}'
    p Step 2: Select the project you wish to sync to #{host}

    if error
      .alert.alert-danger(role="alert") Project key '#{keyTo}' could not be found on #{host}

    .table-responsive
      table.table.table-hover.table-bordered
        thead
          tr
            th 
            th Key: Name
            th Category
        tbody.rowlink(data-link="row")
          each item, index in projects
            tr(onclick="location='/sync/" + keyFrom + "/" + item.key + "'")
              td                
                .avatar-small(id="#{item.key}")
                  script
                    $.get("/api/avatar?class=avatar-small&type=to&url=!{item.avatarUrls["16x16"]}", function(result) { $("##{item.key}").html(result);});
              td
                  =item.key + ": " + item.name
              td
                if item.projectCategory
                  =item.projectCategory.name
